<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Space 
    link(rel="stylesheet", href="./css/main.min.css")
  body
    section.hero
      header.menu
        .logo Space Platforms
        nav.hero__nav 
          a(href='#').hero__link.active Home
          a(href='#').hero__link Missions
          a(href='#').hero__link Research
          a(href='#').hero__link Explorers
          a(href='#').hero__link Our philosophy
      
      h1.hero__heading SPACE EXPLORATION
      p.hero__description.
        Space exploration is the ongoing discovery and exploration
        of celestial structures in outer space
      a(href="#") START EXPLORING

      .graph
        div
          .graph__date JUNE 2016
          .graph__event First attempts to launch a Mars exploration mission
        div
          .graph__date jULY 2020
          .graph__event Landed on Mars, colony in place
        div
          .graph__date JANUARY 2100
          .graph__event First signs of extraterrestrial intelligence found
        div
          .graph__date AUGUST 2300
          .graph__event Aliens have conquered our galaxy
        div
          .graph__date FEBRUARY 2534
          .graph__event Humans have decided to whoop some alien asses

    section.analytics
      .subtitle ANALYTICS
      h2.heading You should take a quick look at our data
      p We want to show you how the process works.
        br
        | Display data for:
      select#month(name="month")
        option(value="october") October
      .pillar
        - var i = 0
        while i < 13
          - i++
          .pillar__item
            .pillar__fill(data-date="oct " + i)
            .pillar__date oct #{i}
      .quick
        div Get a quick info about us
        a(href='#').quick__download
          img(src='./img/arrow.png')
          p Company Profile
          p Download PDF
        a(href='#').quick__download
          img(src='./img/arrow.png')  
          p Annual Report
          p Download PDF
  
  section.chart
    div#display Display
      input(type="checkbox", value="Characteristic") 
      span Characteristic
      input(type="checkbox", value="Weight") 
      span Weight
      input(type="checkbox", value="Economy") 
      span Economy
    select(name="Characteristic") Characteristic
      option(value="Landing") Lending
      option(value="Software") Software
      option(value="Height") Height
      option(value="Balance") Balance
      option(value="Capacity") Capacity
      option(value="Load") Load
    .canvas
      canvas(id="myChart")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
  script(src='./js/main.js')