<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Space 
    link(rel="stylesheet", href="./css/main.min.css")
  body
    section.hero
      header.menu
        .logo Space Platforms
        nav.hero__nav 
          a(href='#').hero__link.active Home
          a(href='#').hero__link Missions
          a(href='#').hero__link Research
          a(href='#').hero__link Explorers
          a(href='#').hero__link Our philosophy
      h1.heading Title

  script(src='./js/main.js')